@model HotelManager.Models.Reservation
@using HotelManager.Models
<h3>Numri i references: @Html.DisplayFor(modelItem => Model.reservationReference)</h3>
<h3>Data e mberritjes: @Html.DisplayFor(modelItem => Model.arrivalDate)</h3>
<h3>Data e largimit: @Html.DisplayFor(modelItem => Model.departionDate)</h3> 
<h3>Totali: @Html.DisplayFor(modelItem => Model.moneyPaid)</h3>
