@using HotelManagement.Models;
@using HotelManager.Models
@using System.Linq;
@model List<Room>

@{
    ViewBag.Title = "View";
}
@if (Session["role"] != null)
{
    if ((Role)Session["role"] == Role.Manager || (Role)Session["role"] == Role.Supervisor)
    {
        @Html.ActionLink("Create New", "Create")
    }
}
    <h2>View</h2>
    @foreach (var item in Model)
    {
        @Html.Partial("_Room", item);
    }
