@model HotelManager.Models.Payment

@{
    ViewBag.Title = "RoomPaymentConfirmed";
}
<h1 style="color:gray;background-color:green;text-align:center;">Rezervimi u krye me sukses!</h1>
<img src="~/Content/images/tick.png" alt="Alternate Text" />

<h3>
    @Html.DisplayNameFor(model => model.reservationReference)
</h3>


