@{
    ViewBag.Title = "Contact";
}
<!--Conatct form area Start-->
<div class="contact-form-info ptb-100 white_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-info">
                    <div class="contact-info-title mb-25"><h3>Format e kontaktit</h3></div>
                    <div class="contact-adresses">
                        <div class="phone mb-15">
                            <p>
                                <span><i class="mdi mdi-phone"></i></span>
                                <span class="desc">+355 44 13 123</span>
                            </p>
                        </div>
                        <div class="mail mb-15">
                            <p>
                                <span><i class="mdi mdi-email"></i></span>
                                <span class="desc">info@chondohotel.com</span>
                            </p>
                        </div>
                        <div class="addresses">
                            <p>
                                <span><i class="mdi mdi-map-marker"></i></span>
                                <span class="desc">Rruga "Agim Ramadani" , Tropojë 8702,Shqipëri</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Conatct form area end-->
<div class="google-map-area" style="width:1200px;margin:auto;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.2411986204747!2d20.07519578296442!3d42.35956178841119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135246e9425703d3%3A0x58a9d0bd63a7fb29!2sTurizmi%20i%20Qytetit%20Bajram%20Curri!5e0!3m2!1ssq!2s!4v1644875120343!5m2!1ssq!2s" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!--End of Google Map Area-->